

  <% if @shops.empty? %>
    You have no shops, go buy one
  <% end %>

<% @shops.each do |shop| %>
  <div class="retailer-shops">
    <%= link_to retailer_shop_path(shop), class: "shop-name-address" do %>
    <h3><%= shop.name %></h3>
    <p><%= shop.address %></p>
    <% end %>
  </div>
<% end %>



