/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$wagon_red: rgba(210, 51, 51, 1);
$teal_blue: rgba(47, 113, 146, 1);
$sunny: rgba(255, 242, 117, 1);
$big_foot_feet: rgba(234, 140, 85, 1);
$grey_platinum: #E8EBEB;

$brand-color: $wagon_red;
//color palette from main picture
$weldon_blue: #6B92AE;
$artichoke: #9A9277;
$rasin_black: #1C2127;
$timberwolf: #DBDCD4;
$outer_space: #45494E;
$metallic_seeweed: #177E89; //turquoise blue


$red: #EE5F5B;
$blue: $teal_blue;
$yellow: #e3cf7a;
$orange: $big_foot_feet;
$green: #00ccbc;


// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee


//shadow
$thin-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
$border-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);


$footer-bg-color: #888;
$footer-font-color: white;


$navbar-heigth: 70px;
$footer-heigth: 6em;

//(?<color_name>\$.*):\s*(?<color>.*);
