<% if @cart %>
<% @cart.each do |shop_id, orders| %>
<div class="cart-lines">
  <h4><%= Shop.find(shop_id).name.capitalize %></h4>
  <% orders.each do |product_id, product| %>
    <%= render 'shops/cart_line', id: product_id, product: product, shop_id: shop_id %>
  <% end %>
</div>
<% end %>
<div class="cart-line ">
  <h4 class="cart-line-content text-bold">
    Total
  </h4>
  <h4 class="cart-line-price text-bold">
    <%= cart_total @cart %> €
  </h4>
</div>

<% end %>
