<div class="shop-cat">
  <h4>Commerces</h4>
  <% @product_hash.keys.each_with_index do |product_category, index| %>
    <%= link_to products_path(search: params[:search], anchor: "cat-#{index}") do %>
      <p><%= product_category %></p>
    <% end %>
  <% end %>
</div>
