<% content_for :title_tag do %>
  Search for the best local shops around you
<% end %>


<div class="index-shops">

  <div class="pois">
    <div class="pois-list">
      <div class="container-fluid">
        <div class="row">
        <% @shops.each do |shop|  %>
          <div class="col-xs-6">
            <%= render 'card', shop: shop %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="text-center">
        <%#= link_to_previous_page @shops, 'Page préc.' %>
        <%#= link_to_next_page @shops, 'Page suiv.' %>
        <%= paginate @shops %>
      </div>
    </div>
    <div class="pois-map" id="map"></div>
  </div>

</div>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>



