/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.features {
  text-align: center;
}

.montre {
  height: 170px;
  width: 170px;
}

.panier {
  height: 180px;
  width: 150px;
}

.hands {
  height: 170px;
  width: 180px;
}

