/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.features {
  text-align: center;
}

.panier {
  height: 225px;
  width: 200px;
}
