//.ordered-products-infos {
//   display: flex;
//   justify-content: space-between;
//  .ordered-quantities {
//    display: flex;
//    flex-direction: column;
 // }
// }

.order-infos {
   border-style: solid;
   border-color: #cacccc;
   border-width: 1px 0px;
   border-top: none;
   border-bottom: 1px solid #e8ebeb;
   padding: 20px;
}

