.retailer-order-view {
  background-color: $grey_platinum;;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  // display:flex;
  // .order-manifest{
  //   flex: 1 0 350px;
  // }
}

.order-show {
  background-color: white;
  border-radius: 10px;
  display: flex;
  // position: absolute;
  // flex-direction: column;
  // width: 100%;
  //margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  .order-first-column{
    flex-direction: column;
    flex: 1 0 auto;
  }
  .order-second-column{
    border-left: 1px solid #e8ebeb;
    padding: 20px;
    flex: 1 1 300px;
  }
  .user-infos {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 20px;
    .user-image{
      padding-right: 30px;
    }
  }
  .order-details {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border-bottom: 1px solid #e8ebeb;
    border-top: 1px solid #e8ebeb;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    // position: relative;
    p {
      flex: 1 1 33%;
    }
  }
  .order-status {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    // position: relative;
  }
  // .product-details {
  //   margin: 20px;
  //   border-top: 1px solid #e8ebeb;
  //   padding-right: 10px;
  //   padding-top: 30px;

  // }
}

.product-and-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border-top: 1px solid #e8ebeb;
  padding-right: 10px;
  padding-top: 30px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  padding-right: 80px;
  width: 200px;
  //padding-top: 30px;
}




