.order-informations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  background: white;
  margin-bottom: 10px;
  border-radius: 5px;
    p {
      background: white;
    }
  &.header {
    margin-top: 60px;
    margin-bottom: 20px;
    // margin-right: 200px;
    background-color: $grey-platinum;
    * {
      background-color: $grey-platinum;
      color: #626666;
      font-size: 20px;
      font-weight: bolder;
    }
  }
}


.order-recap {
  margin-top: 40px;
}

#content {
  background-color: $grey-platinum;
}


.order-retailer {
  // width: 150px;
  flex: 1 1 150px;
  text-align: center;
  overflow: hidden;
  a {
    text-decoration: none;
  }
}

.order-retailer-products {
  width: 350px;
  flex: 1 0 350px;
  text-align: center;
  overflow: hidden;
}



.order-retailer-client {
  //width: 25px;
  //flex: 0 0 0px;
}

.order-retailer-date {
  //flex: 0 0 20px;
}


.order-table {
  border: none ;

  .inactive a {
    color:#626666;
    &:hover{
    border: none ;
    background-color: $grey-platinum !important;
    }
  }


}

.order-table > li.active > a {
  background-color: $grey-platinum !important;
  border: none ;

  border-bottom: 2px $green solid !important;
  //color: $green;
  &:hover {
    border: none ;
    background-color: $grey-platinum !important;
  }

  &:focus {
      border: none ;
      background-color: $grey-platinum !important;
      border-bottom: 2px $green solid;
    }
  }


// .active {
//   a {
//     background-color: $grey-platinum;
//   }
// }

.no-order-yet {
  margin-top: 50px;
}


