.retailer-order-view {
  background-color: $grey_platinum;;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.order-show {
  background-color: white;
  border-radius: 10px;
  display: flex;
  // position: absolute;
  flex-direction: column;
  // width: 100%;
  //margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  .user-infos {
    padding-right: 10px;
    flex-direction: row;
    position: relative;
    margin: 20px;
  }
  .order-details {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border-bottom: 1px solid #e8ebeb;
    border-top: 1px solid #e8ebeb;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    // position: relative;
    p {
      flex: 1 1 33%;
    }
  }
  .order-status {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    // position: relative;
  }
  .product-details {
    margin: 20px;
    border-top: 1px solid #e8ebeb;
    padding-right: 10px;
    padding-top: 30px;

  }
}



