.shop {
  // margin-top: 30px;
  // margin-bottom: 30px;

  //background-color: #EEE;
  background-color: $grey_platinum;

  padding-top: 30px;
  // margin-top: 20px;

  // padding-bottom: 30px;

  h2, h3 {
    margin-top: 0;
    padding-top: 0px;
    text-align: left;
    font-weight: 700;
  }
  .shop-categories, .shop-products, .shop-cart{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
    h4{
      font-size: 17px;
    }

  }
  .products-search-results{
    padding: 20px 0;
    h2{
      text-align: center;
      color: $green;
      font-size: 30px;
    }
  }
  .shops-nearby{
    border-top: 1px solid #e8ebeb;

    padding-top: 10px;
    margin-top: 20px;

    .shop-nearby{
      display:flex;
      align-items: center;
      padding-top: 10px;
      a{
        font-size: 14px;
      }
      p{
        font-size: 14px;
        color: $gray;
        margin: 0;
        padding: 0;
      }
      .shop-nearby-content{
        padding-left: 5px;
      }
    }
  }

  .shop-categories{
    background-color: white;

    height: calc(100vh - #{$navbar-heigth} );
    h3 {
      margin-bottom: 25px;
      text-align: left;
    }
    a, a:hover {
      text-decoration: none;
    }
  }
  .shop-products{
    background-color: white;

  }
  .no-gutter > [class*='col-'] {
      padding-right:0;
      padding-left:0;
  }


  .affix {
    top: $navbar-heigth;
    width: 242.5px;
  }

  @media (min-width: 1200px) {
    .affix {
      width: 292.5px;
    }
  }
  .affix-bottom {
  position: absolute;
  width: 242.5px;
  }

  @media (min-width: 1200px) {
    .affix-bottom {
      width: 292.5px;
    }
  }
  .shop-anchor:before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0;
  }

  .products-block{
    padding-bottom: 70px;
  }

  .product-items {
    // border-style: solid;
    // border-color: #cacccc;
    // border-width: 1px 0px;
    // border-top: none;
    border-bottom: 1px solid #e8ebeb;
    border-top: 1px solid #e8ebeb;

    padding: 10px;
    display: flex;
    align-items: center;
    &:hover{
      background-color: #EEE;
    }
    // justify-content: space-between;
    ul, li{
      margin: 0;
      padding: 0;
    }
    .plus-minus {
      display: flex;
      flex: 0 0;
      flex-direction: column;
      padding-left: 20px;
    }
    .product-price{
      flex: 0 0 70px;
      padding-left: 10px;
      font-size: 16px;
      color: $gray-darker;
    }
    .product-content{
      flex: 1 1 auto;
    }
  }
}

.comment-link {
  // margin-bottom: 20px;
  // margin-top: 20px;
  // text-align: center;
  a {
    color: $green;
    text-decoration: none;
    outline: none;
    &:hover {
      color: $green;
      opacity: 0.6;
      text-decoration: none;
    }
  }
}

.comment-order {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}

.shop-cart{
  background-color: $grey_platinum;
  height: calc(100vh - #{$navbar-heigth} );
  // overflow: scroll;
  &.shop-cart-dropdown{
    height: auto;
    padding: 30px 30px;
    width: 300px;
    background-color: white;
  }
  .cart-lines{
    padding-bottom: 20px;
  }
  .cart-line{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $gray;
    .cart-line-content{
      flex: 1 1 auto;
    }
    .cart-line-price{
      text-align: right;
      flex: 1 0 50px;
    }
    .cart-line-controls{
      margin-right: -14px;
      padding-left: 10px;
      color: $red;
      visibility: hidden;
    }
    &:hover .cart-line-controls{
      visibility: visible;
    }
  }
}

.bigger-btn {
   width: 170%;
 }

.action-buttons {
  margin-right: 20px;
}




