.page-header-inner {
  background-color: gray;
  padding-left: 42px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
}


.shop-show {
  color: #626666;
}

ul.product-items li {
  border-style: solid;
  border-color: #cacccc;
  border-width: 1px 0px;
  border-top: none;
  border-bottom: 1px solid #e8ebeb;
  padding: 20px;
}
