.page-header-inner {
  // background-color: #E5E7E6;
  background-color: $grey_platinum;
  // padding-left: 42px;
  // padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.shop-name ul,li {
  margin: 0;
  padding: 0;
}


.category-show {
  margin-top: 10px
}




.product-description {
  font-size: 14px;
  color: #626666;

}

.product-name {
  font-size: 18px;
}

.dropdown {
  margin-left: 20px;
}

.back-to-search {
  margin-top: 20px;
  a{
    color: $green;
    &:hover {
      color: $green;
      opacity: 0.6;
      text-decoration: none;
    }
  }
}




