.index-shops {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  align-items: stretch;
  padding: 30px 10px;
}

.pois {
  display: flex;
  flex-grow: 10;

}

.pois-list {
  flex-grow: 1;
  //background: purple;
  overflow-x: hidden;
  overflow-y: auto;
}

.pois-map {
  width: 35vw;
  height: calc(100vh - 130px);
  margin: 0 10px;
  //background: blue;
}

