.page-header-inner {
  background-color: #E5E7E6;
  padding-left: 42px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.shop-name ul,li {
  margin: 0;
  padding: 0;
}


.shop-show {
  color: #626666;
}

.product-items {
  border-style: solid;
  border-color: #cacccc;
  border-width: 1px 0px;
  border-top: none;
  border-bottom: 1px solid #e8ebeb;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-show {
  margin-top: 10px
}

.categories-title {
  margin-bottom: 25px;
}

.plus-minus {
  display: flex;
  flex: 0 0 50px;
  flex-direction: column;
}


.product-description {
  font-size: 10px;
}

.product-name {
  font-size: 20px;
}

.dropdown {
  margin-left: 20px;
}

.retour-aux-resultats {
  color: $green;
  margin: 20px;
  &:hover {
    color: $green;

    // color: #05a156;
    opacity: 0.6;
    text-decoration: none;
  }
}

.bouton-retour {
  margin-top: 20px;
}


