<div id="footer">
  <div class="container">
    <div class="footer-content">
      <ul class="list-inline footer-icons">
        <li><a href="https://deliveroo.fr/fr"><i class="fa fa-youtube"></i></a></li>
        <li><a href="https://www.petitscommerces.fr/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.lewagon.com/fr/bordeaux"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://github.com/adrienpoly"><i class="fa fa-twitter"></i></a></li>
      </ul>
      <div class="footer-baseline text-right">
        <p>Click-n.co @LeWagon</p>
      </div>
    </div>
  </div>
</div>
