<!-- banner code -->
<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url(<%= image_path "background.jpeg", quality: "auto" %>);">
  <div class="banner-content">
    <h1>CLICK N CO</h1>
    <p> Explorez vos commerces de proximité</p>
      <div class="container relaxing-moment text-center">
        <form class="form-searchbar" action=<%#= shops_path %>>
          <div class="form-location">
            <Label>0ù</Label>
            <input type="text" class="form-control input-lg" id="where" name="where" placeholder="Lyon, Bordeaux, Toulouse">
          </div>

          <div class="form-guests">
            <Label>Catégorie</Label>
            <select class="form-control input-lg" id="nbguest" name="guests">
              <option value="1">Fromager</option>
              <option value="2">Boulanger</option>
              <option value="3">Primeur</option>
            </select>
          </div>
          <div class="form-search">
            <button type="submit" class="btn btn-success btn-lg">Search</button>
          </div>
        </form>
      </div>
  </div>
</div>














<!-- Your newsletter code -->
<div class="text-center padded" id="newsletter">
  <h2>Get news from us</h2>
  <p>Leave us your mail and get news from us</p>
  <form class="form-inline">
    <input type="email" placeholder="adrien@gmail.com" class="form-control">
    <input type="submit" value="Subscribe" class="btn btn-success">
  </form>
</div>

<!-- Include Google Maps JS API -->

<% content_for(:after_js) do %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.datepicker').datepicker();
    });
  </script>
<% end %>
