// // Your footer style
// #footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   height: 6em;
//   left:0;
//   // display: flex;
//   // align-items: center;
//   // justify-content: space-between;
//   // flex-wrap: wrap;
//   background: #6B92AE;
//   padding: 30px 0;
//   color: $timberwolf;
//   // margin-top: 0px;
//   // a, i, p{
//   //   margin-bottom: 0;
//   //   // padding: 0 !important;
//   // }
//   .footer-content{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     flex-wrap: wrap;
//   }

//   .footer-icons{
//     flex: 1 0 auto;
//     margin: 0 50px;
//     a {
//       color: #CCCCCC;
//       font-size: 35px;
//       margin: 0 10px;
//     }
//     a:hover {
//       color: $yellow;
//     }
//   }
//   .footer-baseline{
//     flex: 1 0 auto;
//     font-size: 1.1em;
//   }
// }

