.card {
  height: 210px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;

  .review-rating{
    position: absolute;
    top:10px;
    right: 10px;
  }
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 20px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-distance{
  position: absolute;
  bottom: -20px;
  right: 10px;
  color: $gray;
  font-size: 14px;
  background-color: white;
  border-radius: 50px;
  width: 70px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.card-description h2 {
  font-size: 22px;
}
.card-description p {
  font-size: 15px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}



