.logs {
  // margin: 5%;
  font-size: 45px;

}

.logs-container {
  margin: auto;
  width: 60%;
  align-items: center;
  justify-content: center;

  // margin-left: auto;
  // margin-right: auto;
}

.log-btn {
  margin: 10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
