.total_price {
  font-size: 25px;
  color: black;
  padding: 10px 15px;
}

.total_price_div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.pay {
  margin-bottom: 70px;
}

.payments {
  td {
    background-color: #E8EBEB;
  }

  th {
    background-color: #00CCC2;
  }
}

.payments-content {
  margin-top: 70px;
}

.payments-title {
  margin-bottom: 30px;
  color: $green;
}

