.total_price {
  background-color: #888888;
  color: white;
  padding: 10px 15px;
}

.payments {
  //margin-top: 80px;
  td {
    background-color: #E8EBEB;
  }

  th {
    background-color: #00CCC2;
  }
}

