$airbnb_form_padding: 10px 20px;

.form-searchbar {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  flex-direction: row;
  border: 1px solid $grey_platinum;
  border-radius: 3px;
  box-shadow: 1px, 1px, 3px, rgba(0, 0, 0, 0.3);
  input, select {
    border: 0;
    box-shadow: none;
    padding: 0;
    color: $gray;

  }
  label{
    color: $gray-dark;
    font-size: 14px;
  }
  @media (max-width: 480px) {
    input, button {
      font-size: 16px;
    }
  }
  .btn-circle {
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    border: 1px solid $grey_platinum;
    box-shadow: 1px, 1px, 3px, rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }
  .form-control:focus{
    // border-color: #FFF;
    border-bottom: 1px solid $blue;
    box-shadow: none;
  }
  .form-location{
    flex: 1 1 auto;
    padding: $airbnb_form_padding;
    border-right: 1px solid $grey_platinum;
  }

  .form-guests{
    border: 0;
    flex: 1 0 15%;
    padding: $airbnb_form_padding;
  }

  .form-search{
    border: 0;
    // flex: 1 0 30%;
    padding: $airbnb_form_padding;
    @media (max-width: 480px) {
    padding: 5px 10px;
    }
  }
}

.index-spabnb {
  padding: 15px;
}
